.idea/
.vscode/
DataProjects.iml
config/config*.yaml
config/credentials*.py
config/credentials*.yaml
config/spartan-cedar-337400-178c9ede4da3.json
config/unbounce_sub_accounts.json
config/asa_certificates/*.key
config/asa_certificates/*.pem
.DS_Store
__pycache__/
config/__pycache__/
datalocker/af_rawdata/
/vendor
config/client_secrets.json
config/config_apple_search.yaml
config/credentials_client_secret_api.json
thoth/config/ldm-automation-api.json